# **<u><mark>GROUP BY STATEMENT</mark></u>**

How do we use it? and exercises

In [2]:
SELECT Country
FROM Northwind.dbo.Customers;

-- SELECT statement brings all the values, but SELECT DISTINCT brings unique ones
SELECT DISTINCT Country
FROM Northwind.dbo.Customers;

-- GROUP BY statement gives same result with Select Distinct

SELECT Country
FROM Northwind.dbo.Customers
GROUP BY Country;

-- THEN WHY DO WE USE GROUP BY?
--All the rows that have same value are recorded in each country name with the group by statement
--It is often used with aggregate functions: COUNT, MAX, MIN, SUM, AVG

-- How many customers are there from each country from Customers table?

SELECT Country, COUNT(CustomerID)
FROM Northwind.dbo.Customers
GROUP BY Country;

-- Give an alias to count function and order the result according to count

SELECT Country, COUNT(CustomerID) as NumberofCustomers
FROM Northwind.dbo.Customers
GROUP BY Country
ORDER BY NumberofCustomers;

-- Pay attention! Order by statement is used after group by not before it! 

-- Please list the number of products from each categoryid from Products table
-- Order the result according to number of products descendingly

SELECT CategoryID, COUNT(ProductID) as NumberofProducts
FROM Northwind.dbo.Products
GROUP BY CategoryID
ORDER BY NumberofProducts DESC;

-- Add product names to above query

SELECT CategoryID, COUNT(ProductID) as NumberofProducts, ProductName
FROM Northwind.dbo.Products
GROUP BY CategoryID;

-- GROUP BY ERROR: Overwritten column name
-- We cannot add another column with GROUP BY statement

--GROUP BY and WHERE
--We can add a condition when we are using group by

--Please list the number of products from each categoryid from Products table when the unit price of product is greater than 25

SELECT CategoryID, COUNT(ProductID) as NumberofProducts
FROM Northwind.dbo.Products
WHERE UnitPrice > 25
GROUP BY CategoryID;

--GROUP BY and AVG

--Please find out AVERAGE price for each category in Products Table.

SELECT CategoryID, AVG(UnitPrice) as AvgPrice
FROM Northwind.dbo.Products
GROUP BY CategoryID;

--Please find out MAXIMUM in stock number from each category from Products Table

SELECT CategoryID, MAX(UnitsInStock)
FROM Northwind.dbo.Products
GROUP BY CategoryID;

--Please find out MINIMUM stock on order number from each category from Products Table

SELECT CategoryID, MIN(UnitsOnOrder)
FROM Northwind.dbo.Products
GROUP BY CategoryID;

--Please find out SUM of all units on order from each supplierid and order by the sum descending

SELECT SupplierID, SUM(UnitsOnorder) as SumUnitsOnOrder
FROM Northwind.dbo.Products
GROUP BY SupplierID
ORDER BY SumUnitsOnOrder DESC;

-- GROUP BY and JOIN together
--Now join this query with another table. Please bring the company name for each supplier id from Suppliers table also.

SELECT CompanyName, SUM(UnitsOnOrder) as SumUnitsOnOrder
FROM Northwind.dbo.Products
JOIN Northwind.dbo.Suppliers
ON Products.SupplierID = Suppliers.SupplierID
GROUP BY CompanyName
ORDER BY SumUnitsOnOrder DESC;

-- Please, find out how many orders have been executed by each shipping company in Shippers table by joining Orders table and using GROUP BY

SELECT Shippers.CompanyName, COUNT(Orders.OrderID) as HowManyOrders
FROM Northwind.dbo.Orders
JOIN Northwind.dbo.Shippers
ON Orders.ShipVia = Shippers.ShipperID
GROUP BY CompanyName;

-- Is it possible to use group by statement with two columns?

--Please list the number of orders taken by each EmployeeID from each CustomerID from Orders table. Order By number of orders descending

SELECT EmployeeID, CustomerID, COUNT(OrderID) as NumberOfOrders
FROM Northwind.dbo.Orders
GROUP BY EmployeeID, CustomerID
ORDER BY NumberOfOrders DESC;

--NOW JOIN this table to Employees table to bring the names of employees

SELECT Employees.FirstName, CustomerID, COUNT(OrderID) as NumberOfOrders
FROM Northwind.dbo.Orders
JOIN Northwind.dbo.Employees
ON Orders.EmployeeID = Employees.EmployeeID
GROUP BY Employees.FirstName, CustomerID
ORDER BY NumberOfOrders DESC;

--GROUP BY and 3 Table Join
--NOW JOIN this table to Customers table to bring the names of customers, so company names

SELECT FirstName, CompanyName, COUNT(OrderID) as NumberOfOrders
FROM ((Northwind.dbo.Orders
JOIN Northwind.dbo.Employees ON Orders.EmployeeID = Employees.EmployeeID)
JOIN Northwind.dbo.Customers ON Orders.CustomerID = Customers.CustomerID)
GROUP BY Employees.FirstName, Customers.CompanyName
ORDER BY NumberOfOrders DESC;

: Msg 8120, Level 16, State 1, Line 32
Column 'Products.ProductName' is invalid in the select list because it is not contained in either an aggregate function or the GROUP BY clause.